@import '../../node_modules/normalize.css/normalize.css';

/* press-start-2p-regular - latin */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/press-start-2p-v14-latin-regular.eot');
    src: local(''), url('../assets/fonts/press-start-2p-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/press-start-2p-v14-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/press-start-2p-v14-latin-regular.woff') format('woff'),
        url('../assets/fonts/press-start-2p-v14-latin-regular.ttf') format('truetype'),
        url('../assets/fonts/press-start-2p-v14-latin-regular.svg#PressStart2P') format('svg');
}

/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/oswald-v47-latin-regular.eot');
    src: local(''), url('../assets/fonts/oswald-v47-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/oswald-v47-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/oswald-v47-latin-regular.woff') format('woff'),
        url('../assets/fonts/oswald-v47-latin-regular.ttf') format('truetype'),
        url('../assets/fonts/oswald-v47-latin-regular.svg#Oswald') format('svg');
}

/* oswald-regular - cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/oswald-v47-cyrillic-regular.eot');
    src: local(''), url('../assets/fonts/oswald-v47-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/oswald-v47-cyrillic-regular.woff2') format('woff2'),
        url('../assets/fonts/oswald-v47-cyrillic-regular.woff') format('woff'),
        url('../assets/fonts/oswald-v47-cyrillic-regular.ttf') format('truetype'),
        url('../assets/fonts/oswald-v47-cyrillic-regular.svg#Oswald') format('svg');
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    user-select: none;
}

body {
    background-color: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(48, 110, 184, 1) 65%, rgba(104, 209, 231, 1) 100%);
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #fff;
}

.text {
    width: 90%;
    max-width: 700px;
    height: 250px;
    margin: 10px auto 20px;
    padding: 11px;
    resize: none;
    overflow: auto;
    font-size: 18px;
    color: rgb(66, 66, 66);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px #719ece;
    outline: none;
    -moz-appearance: none;
    &:focus {
        border: 1px solid rgb(200, 230, 255);
        padding: 10px;
    }
    &::placeholder {
        color: #999;
    }
}

.keyboard {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-right: 6px;
    border: 1px solid rgb(200, 230, 255);
    border-radius: 5px;
    box-shadow: 0px 0 10px #719ece;
    background-color: rgba(0, 0, 0, 0.1);
}

.row-button {
    display: flex;
    margin-bottom: 6px;
}

.key {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    border: 1px solid rgb(200, 230, 255);
    border-radius: 5px;
    margin-left: 6px;
    box-shadow: 0px 0 3px #719ece;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.171);
    color: #fff;

    &:hover {
        background-color: rgba(173, 157, 86, 0.9);
        box-shadow: 0px 0 10px #719ece;
    }
    &:active,
    &[data-code='Tab']:active,
    &[data-code='CapsLock']:active,
    &[data-code='ShiftLeft']:active,
    &[data-code='ControlLeft']:active,
    &[data-code='AltLeft']:active,
    &[data-code='Space']:active,
    &[data-code='Backspace']:active,
    &[data-code='Delete']:active,
    &[data-code='Enter']:active,
    &[data-code='ShiftRight']:active,
    &[data-code='AltRight']:active,
    &[data-code='ControlRight']:active,
    &[data-code='Win']:active,
    &[data-code='ArrowDown']:active,
    &[data-code='ArrowLeft']:active,
    &[data-code='ArrowRight']:active,
    &[data-code='ArrowUp']:active {
        background-color: rgb(196, 176, 86);
        box-shadow: 0px 0 10px #719ece;
        border: 3px solid rgb(200, 230, 255);
        transition: 0.1s;
    }
}

.fn {
    background-color: rgba(33, 89, 156, 0.4);
}

.pink {
    background-color: rgb(245, 132, 198);
}

.blue {
    background-color: rgba(104, 209, 231);
}

.active {
    background-color: rgb(196, 176, 86);
    box-shadow: 0px 0 10px #719ece;
    border: 3px solid rgb(200, 230, 255);
    transition: 0.1s;
}

.hidden {
    display: none;
}

.letter,
.extra {
    height: 100%;
    line-height: 37px;
}

.os {
    align-self: center;
    margin: 30px;
    color: #fff;
    font-size: 23px;
}

.hint {
    align-self: flex-start;
    margin: 12px 0 0 50px;
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 11px;
}

.mute {
    width: 30px;
    height: 30px;
    filter: invert(1);
    align-self: flex-start;
    margin: 0 0 10px 60px;
    transition: 0.2s;
    cursor: pointer;
}

.sounded {
    background: no-repeat url('../assets/volume.png');
    background-size: 30px;
}

.muted {
    background: no-repeat url('../assets/mute.png');
    background-size: 30px;
}
